<div class="ui four column doubling stackable grid container" style="height:100%; margin: 0px; padding:0px; float:left;">
    <div class="column" style="float: left; padding:0px;">
        <div style="height: 100%;" ng-include="'../../includes/menu.html'"></div>
    </div>
    <div class="column">
        <div ng-app="MyTestSafeweb" ng-controller="ProposalController" ng-init="load()" style="width:800px; margin: 0 auto;">
            <h1>Lista de Propostas</h1>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Fornecedor</th>
                        <th>Data</th>
                        <th>Expira em</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="proposal in Proposals">
                        <td>{{ proposal.Id }}</td>
                        <td>{{ proposal.Name }}</td>
                        <td>{{ proposal.CategoryName }}</td>
                        <td>{{ proposal.SupplierName }}</td>
                        <td>{{ proposal.CreationDate | date: "dd/MM/yyyy" }}</td>
                        <td style="color:#f00; font-weight: bold;">{{ proposal.ExpirationDate | date: "dd/MM/yyyy" }}</td>
                        <td>{{ proposal.Value | currency : "R$" : 2 }}</td>
                        <td>{{ proposal.StatusDescription }}</td>
                        <td style="text-align: center;">
                            <i class="edit icon" style="cursor:pointer;" ng-if="proposal.StatusNow = 1 && proposal.Status == 1" ng-click="edit(proposal.Id)"></i>
                            <i class="trash alternate outline icon" style="cursor:pointer;" ng-if="proposal.StatusNow == 1 && proposal.Status == 1" ng-click="deleteProposal(proposal.Id)"></i>
                            <i class="history icon" style="cursor:pointer;" ng-click="historic(proposal.Id)"></i>
                        </td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="8">
                            <div class="ui right floated small primary labeled icon button" ng-click="go('/proposal')">
                                <i class="plus icon"></i> Proposta
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>




    
    
