<div class="ui four column doubling stackable grid container" style="height:100%; margin: 0px; padding:0px; float:left;">
    <div class="column" style="float: left; padding:0px;">
        <div style="height: 100%;" ng-include="'../../includes/menu.html'"></div>
    </div>
    <div class="column" style="width:700px; margin:0 auto;" ng-app="MyTestSafeweb" ng-controller="CategoryController">
        <h2 class="ui header">Cadastro de Categoria</h2>
        <form class="ui form segment" style="width: 100%;">
            <div class="field">
                <label>Nome</label>
                <input placeholder="Nome" name="name" ng-model="name" type="text">
            </div>
            <div class="field">
                <label>Descrição</label>
                <textarea rows="3" name="description" ng-model="description"></textarea>
            </div>
            <div class="ui primary submit button" ng-click="insertCategory()">Criar categoria</div>
            <div class="ui clear button">Limpar</div>
        </form>
    </div>
</div>